XmlTextWriter xWriter = new XmlTextWriter(path: "D:\\PatientRecordApp\\PatientRecordApp.Core\\Properties\\Settings\\settings.xml", encoding: "Encoding.UTF8");
xWriter.Formatting = Formatting.Indented;
xWriter.WriteStartElement("People");
xWriter.WriteStartElement("Person");
xWriter.WriteStartElement("Name");
xWriter.WriteString(valueOfName);
xWriter.WriteEndElement();
xWriter.WriteStartElement("Age");
xWriter.WriteString(valueOfAge);
xWriter.WriteEndElement();
xWriter.WriteStartElement(Email);
xWriter.WriteString(valueOfEmail);
xWriter.WriteEndElement();
xWriter.WriteEndElement();
xWriter.WriteEndElement();


output:
<People>
	<Person>
		<Name>valueOfName</Name>
		<Age>valueOfAge</Age>
		<Email>valueOfEmail</Email>
	</Person>
</People>